.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    width: 100%;
    min-height: 100%;
    z-index: 999;
}

.img{
    width: 50px;
}