.wrapper{
    display: flex;
    gap: 50px;
}

.imgBox{
    position: relative;
    width: 200px;
    height: 200px;
}

.imgBox::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition: .3s;
}

.profilePhoto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.label{
    position: absolute;
    top: 85px;
    left: 85px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: #000;
    opacity: 0;
    transition: .2s;
    z-index: 1;
}

.input{
    display: none;
}

.imgBox:hover::after{
    opacity: 1;
}
.imgBox:hover .label{
    opacity: 1;
}

